body {
    margin: 0;
    padding: 0;
    background-color: #FBF2E5;
    font-family: Consolas;    
    height: 99vh;
    width: 100%;
}

.container {    
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}

header, main {
    padding: 1.5%;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    grid-row: 1;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    justify-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #a37575;
    padding: 1%;
    grid-row: 3;
}

.profileU {
    font-size: large;
}

.photo img {
    max-width: 100%;
}

.photo {
    grid-column: 1;
}
.photo h1 {
    text-align: center;
}

.information {
    grid-column: 2;
}

.comments {
    grid-column: 3;
}