body {
    margin: 0;
    background-color: #FBF2E5;
    color: #834C4C;
    height: 100vh;
}

.logo {
    margin: 0;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: italic; 
    font-size: 64px;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%; 
}

h2 {
    font-size: 64px;
    margin: 0;
}

h3 {
    font-size: 48px;
    margin: 0;
    padding: 1%;
}

h2, h3{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-size: 20px;
    margin: 0;
}
.login_form {
    height: 100%;
}
.login_form_header {
    position: relative;
    background-color: #834C4C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.login_form_header h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.login_form_header img {
    width: 2%;
    align-self: center;
    padding-right: 2%;
    cursor: pointer;
}

.user_name {
    border: 1px solid #834C4C;
    padding: 5%;
    border-radius: 10px;
    background-color: transparent;
    font-size: large;
    height: 80%;
    width: 98%;
}
.user_overflow {
    position: relative;
    width: 20%;
    height: 7%;
    margin-bottom: 3%;
}
.user_info1 {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #FBF2E5;
}

.crosslink_to_login {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
}

.login_form_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;

}

.add_favorite_text {
    background-color: #834C4C;
    border-radius: 10px;
    color: white;
    padding: 20px;
    border: 0;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    width: 21.5%;
    margin-left: 1.7%;
}

.login_form_bottom a {
    margin-top: 1%;
    color: #834C4C;
    text-decoration: none;
    font-size: x-large
}

@media screen and (max-width: 1300px) {
    .user_overflow {
        width: 30%;
        margin-bottom: 4%;
    }

    .login_form_header img {
        width: 3%;
    }

    .add_favorite_text {        
        font-size: 26px;
        width: 32.4%;
        margin-left: 2.1%;        
        margin-bottom: 2%;
    }
    .crosslink_to_login {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 700px) {
    .user_overflow {
        width: 50%;
        margin-bottom: 7%;
    }

    .login_form_header img {
        width: 6%;
    }

    .add_favorite_text {        
        font-size: 20px;
        width: 53.5%;
        margin-left: 4%;        
        margin-bottom: 2%;
    }
    .crosslink_to_login {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
    }
}