/*static +- */
.container {
    display: grid;
    grid-template: 150px 6fr 300px / 2fr 4fr 1fr;
}

.blockheader {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
}

.block_left {
    grid-area: 2 / 1 / 3 / 2;
    border-right: 3px solid #834C4C;
    margin: 2%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block_right {
    grid-area: 2 / 2 / 3 / 3;
    padding-left: 4%;
    margin-bottom: 2%;
}

.blockfooter {
    grid-area: 3 / 1 / 4 / 4;
    background-color: #a37575;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

body {
    margin: 0;
    background-color: #FBF2E5;
    color: #834C4C;
}

.logo {
    margin: 0;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: italic; 
    font-size: 64px;
    padding-left: 1%; 
}

h2 {
    font-size: 64px;
    margin: 0;
}

h3 {
    font-size: 48px;
}

h2, h3{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-size: 20px;
    margin: 0;
}

footer p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-size: 40px;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}
.app img {
    width: 150px;
    height: 150px;
    align-self: center;
}

.bell {
    height: 30px;
    width: 30px;
}
.profile_img {
    height: 70px;
    width: 70px;
}

.header_profile {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.header_profile p {
    align-self: flex-end;
}
.header_profile_imges {
    display: flex;
    padding-right: 15px;
}
.header_profile_imges .bell {
    align-self: center;
    padding-right: 10px;
}
/*--------------------------------------------------------------------------------*/




.block_left img {
    width: 80%;
    margin-bottom: 10%;
}

/*overflow*/
.user_name {
    border: 1px solid #834C4C;
    padding: 2%;
    border-radius: 10px;
}
.user_overflow {
    position: relative;
    width: 80%;
    height: 3%;
    margin-bottom: 7%;
}
.user_info1 {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: #FBF2E5;
}
/*--------------------------------------*/

.edit_button {
    display: flex;
    justify-content: center;
}
.edit_button img {
    width: 7%;
    cursor: pointer;
}
.edit_button button {
    background-color: #FBF2E5;
    color: grey;
    border: 0;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-size: 20px;
    margin: 0;
    align-self: flex-start;
}

/*---------------------------------*/
.want {
    max-height: 30%;
    width: 20%;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #834C4C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.block_right h3 {
    margin-bottom: 1%;
    margin-top: 2%;
}
.want_img {
    padding-top: 3%;
    width: 60%;
    height: 50%;
}

/*trade*/
.trader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #834C4C;
    color: white;
    padding: 1%;
    border-radius: 10px 10px 0 0;
}
.trader_left {
    display: flex;
    align-items: center;
}
.trader_left img {
    padding-right: 15px;
}
.arrow {
    justify-self: end;
}


.trade {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 35%;
}

.book {
    height: 300px;
    width: 200px;
    align-self: center;
}
.trade_arrow {
    height: 170px;
    width: 170px;
    align-self: center;
}
.trade_book_choose {
    height: 300px;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #834C4C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.trade_book_choose_magnyfyingglass {
    max-width: 80%;
}
.trade_book_choose p {
    text-align: center;
}

.trade_book {
    display: flex;
    justify-content: space-around;
    padding: 1%;
    border: 3px solid #834C4C;
    border-radius: 0 0 10px 10px;
    
}
.trade_bookdescription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
}
/*-------------------------------------------*/
/* media queries */
@media screen and (max-width: 1100px) {   
    .container {
        grid-template: 50px 45% 45% 200px / 2fr 4fr 1fr;
    }
    .blockheader {
        grid-area: 1 / 1 / 2 / 4;
    }
    
    .block_left {
        grid-area: 2 / 1 / 3 / 4;  
        border: 0;
        margin-bottom: 0;
    }
    
    .block_right {
        grid-area: 3 / 1 / 4 / 4;
    }
    
    .blockfooter {
        grid-area: 4 / 1 / 5 / 4;       
    }

    .block_left img {
        width: 50%;
        margin-bottom: 10%;
    }

    .user_overflow {
        width: 80%;
        height: 3%;
        margin-bottom: 9%;
    }

    .edit_button img {
        width: 5%;
    }
    
    h3 {
        font-size: 30px;
    }

    .want p {
        font-size: 15px;
    }

    .trade_book img {
        max-width: 30%;
        height: 100%;
    }

    .trade_arrow {
        display: none;
    }
    
     
    .trade_bookdescription p {
        font-size: 15px;
    }

    

    .trade_book_choose p {
        font-size: 15px;
        padding: 5%;
    }

    .trade_book_choose_magnyfyingglass {
        max-width: 50%;
        height: 100%;
    }
    .trade {
        height: 25%;
        margin-right: 3%;
    }
    .trade_book {
        height: 70%;
    }
    .trade_book_choose {
        height: 100%;
        width: 20%;

    }
    .book {
        width: 20%;
    }
    .edit_button {
        height: 4%;
    }
    .edit_button img {
        margin: 0; 
    }
    .logo {
        font-size: 32px;
    }
    .profileU {
        font-size: 16px;
    }
    .bell {
        height: 15px;
        width: 15px;
    }
    .profile_img {
        height: 35px;
        width: 35px;
    }
    footer p {
        font-size: 20px;
    }  
    .app img {
        height: 75px;
        width: 75px;
    } 
}

@media screen and (max-width: 500px) { 
    .container {
        grid-template: 50px 37% 47% 200px / 2fr 4fr 1fr;
    } 
    .user_overflow {
        margin-bottom: 11%;
    }

    .info {
        align-self: center;
    }
    .app img {
        width: 75px;
        height: 75px;
        align-self: center;
    }
    .trade {
        height: 25%;
    }
    .want p {
        font-size: 10px;
    }
    .trade_book_choose p {
        font-size: 10px;
        padding: 5%;
    }
    .app p {
        text-align: center;
    }
} 