.container {
    display: grid;
    grid-template: 150px 6fr 300px / 1fr 10fr 1fr;
}

.blockheader {
    position: relative;
    grid-area: 1 / 1 / 2 / 4;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; 
}

.blockmain {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}


.blockfooter {
    grid-area: 3 / 1 / 4 / 4;
    background-color: #a37575;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

body {
    margin: 0;
    background-color: #FBF2E5;
    color: #834C4C;
}

.logo {
    margin: 0;
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: italic; 
    font-size: 64px;
    padding-left: 1%; 
}

h2 {
    font-size: 64px;
    margin: 0;
}

h3 {
    font-size: 48px;
}

h2, h3{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-size: 20px;
    margin: 0;
}

footer p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-size: 40px;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}
.app img {
    width: 150px;
    height: 150px;
    align-self: center;
}

.bell {
    height: 30px;
    width: 30px;
}
.profile_img {
    height: 70px;
    width: 70px;
}
.crosslink_to_profile {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 75px;
    height: 75px;
}
.header_profile {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.header_profile p {
    align-self: flex-end;
}
.header_profile_imges {
    position: relative;
    display: flex;
    padding-right: 15px;
}
.header_profile_imges .bell {
    align-self: center;
    padding-right: 10px;
}
/* search */
.search-form {
    border: 0;
    display: inline-flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: -2px 5px lightgray;
    margin: 1%;
}

.search-form_txt {
    border: none;
    width: 200px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
}

.search-form_button {
    border: none;
    background-color: transparent;
}

.search-form_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    border-left: 1px solid black;
    padding-left: 20px;
}


/*dropdown for author*/
.author_dropdown {

    border: 3px solid #834C4C;
    border-radius: 5%;
    width: 100%;
}
.author_list, .author_list ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.author_list li ul li {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.author_list li ul {
    padding: 0;
}

.athor_text {
    font-weight: bold;
}

.author_filter {
    border: 1px solid #834C4C;
    background-color: #FBF2E5;
    width: 90%;
}

/*dropdown for year*/
.year_dropdown {

    border: 3px solid #834C4C;
    border-radius: 5%;
    width: 100%;
}
.year_list, .year_list ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.year_list li ul li {
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.year_list li ul {
    padding: 0;
}

.year_text {
    font-weight: bold;
}

/*dropdown for genre*/
.genre_dropdown {

    border: 3px solid #834C4C;
    border-radius: 5%;
    width: 100%;
}
.genre_list, .genre_list ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.genre_list li ul li {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.genre_list li ul {
    padding: 0;
}

.genre_text {
    font-weight: bold;
}

.genre_filter {
    border: 1px solid #834C4C;
    background-color: #FBF2E5;
    width: 90%;
}
/*checkbox*/
input[type="checkbox"] {
    border-radius: 10%;
    position: relative;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    appearance: none;
}
input[type="checkbox"]:checked {
    background-color: #834C4C;
}

.author_dropdown, .year_dropdown, .genre_dropdown {
    margin-bottom: 2%;
}


/*trade*/
.trade_text {
    background-color: #834C4C;
    border-radius: 10px;
    color: white;
    padding: 20px;
    border: 0;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.filter_trade img {
    width: 30px;
    height: 30px;
}

.filter_trade img, .filter_trade p, .trade_book_choose {
    cursor: pointer;
}

.filter_trade {
    display: flex;
}

.trade_sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #834C4C;
    color: white;
    padding: 1%;
    border-radius: 10px 10px 0 0;
}
.trader_left {
    display: flex;
    align-items: center;
}
.trader_left img {
    padding-right: 15px;
}
.arrow {
    justify-self: end;
}

.trade {
    margin-top: 1%;
    margin-bottom: 1%;
}

.book {
    height: 300px;
    width: 200px;
    align-self: center;
}
.trade_arrow {
    height: 170px;
    width: 170px;
    align-self: center;
}
.trade_book_choose {
    position: relative;
    height: 300px;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #834C4C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.crosslink_to_chooseboook {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.crosslink_to_main {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 230px;
}
.trade_book_choose p {
    text-align: center;
}
.trade_book_choose_magnyfyingglass {
    width: 80%;
}

.trade_book {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    border: 3px solid #834C4C;
    border-radius: 0 0 10px 10px;
}
.catalog_right {
    width: 60%;
}
.catalog_left {
    width: 15%;
}

.trade_bookdescription {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
}

.author_dropdown, .year_dropdown {
    margin-bottom: 8%;
}
.media_filter {
    display: none;
}
/*media queries*/

@media screen and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template: 50px 1fr 1fr 200px / 1fr 7fr 1fr;
    }
    .blockmain {
        grid-area: 2 / 2 / 4 / 3;
        flex-direction: column-reverse;
        margin-bottom: 2%;
        height: 100%;
    }
    .catalog_left {
        grid-area: 3 / 2 / 4 / 3;
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 50%;
    }
    .catalog_right {
        grid-area: 2 / 2 / 3 / 3;
        width: 100%;
        height: 70%;
    }
    .blockfooter {
        grid-area: 4 / 1 / 5 / 4;
    }
    .logo {
        font-size: 32px;
    }
    .profileU {
        font-size: 16px;
    }

    .search-form {
        height: 25px;
    }

    .search-form_txt {
        width: 100px;
        font-size: 10px;
    }

    .search-form_img {
        height: 15px;
        padding-left: 10px;
    }
    .bell {
        height: 15px;
        width: 15px;
    }
    .profile_img {
        height: 35px;
        width: 35px;
    }
    .crosslink_to_profile {
        display: block;
        position: absolute;
        right: 25px;
        top: 10px;
        width: 35px;
        height: 35px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 10px;
    }

    .release {
        margin: 7%;
    }
    .info {
        align-self: center;
    }
    .trade_text {
        padding: 10px;
        font-size: 13px;
    }
    .filter_trade img {
        width: 15px;
        height: 15px;
    }
    .trade_book img {
        max-width: 30%;
        height: 100%;
    }

    .trade_arrow {
        display: none;
    }
    
     
    .trade_bookdescription p {
        font-size: 15px;
    }

    

    .trade_book_choose p {
        font-size: 15px;
        padding: 5%;
    }

    .trade_book_choose_magnyfyingglass {
        max-width: 50%;
        height: 100%;
    }
    .trade {
        height: 80%;
    }
    .trade_book {
        height: 70%;
    }
    .trade_book_choose {
        height: 100%;
        width: 20%;

    }
    .book {
        width: 100%;
    }
    

    footer p {
        font-size: 20px;
    }  
    .app img {
        height: 75px;
        width: 75px;
    } 


    .author_dropdown, .year_dropdown, .genre_dropdown {
        width: 30%;
        height: 95%;
    }
    .author_list, .genre_list, .year_list {
        padding: 0;
        margin-top: 2%;
    }
    .athor_text, .year_text, .genre_text {
        text-align: center;
    }
    .media_filter {
        display: block;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .crosslink_to_main {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 35px;
        width: 110px;
    }

}
@media screen and (max-width: 500px) {
    .app p {
        text-align: center;
    }
} 
